@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Inlamning_Webbapp.Models.Actor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="col-7">
    <h4 class="card">Actor</h4>
    <hr />
    <dl class="card-header">
        <dt class = " card-body">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="card-body">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class=" card-body">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="card-body">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="card-body">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="card-body">
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
